MONGO_URI=your_mongodb_uri
PORT=5000
CLIENT_URL=http://localhost:3000

JWT_SECRET=your_jwt_secret
SENDER_EMAIL=your_email
SENDER_NAME=AlokBortika

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

SSL_IS_LIVE=false
SSL_STORE_ID=your_sslcommerz_store_id
SSL_STORE_PASSWORD=your_sslcommerz_store_password
API_BASE_URL=http://localhost:5000/api